body {
  background-color: linen;
  padding: 20px;
  font: calc(0.6rem + 1vw) 'Open Sans', sans-serif;
}

img {
  width: 200px;
  width: calc(100px + 30vw);
}

aside {
  column-count: 2;
}

li:last-child::after {
  content: " New!";
  color: red;
}

a::after {
  content: " (" attr(href) ")";
}

dl {
  break-inside: avoid;
  margin: 0;
}

ul {
  list-style-image: linear-gradient(to left bottom, #a52222, #2e2ebd);
  position: relative;
  top: 25%;
  border: 1px solid;
  background: white;
  max-width: 20vw;
  transform: rotate(0.9turn);
}

ul::first-line {
  font-weight: bold;
}

h1,
dt,
sup {
  letter-spacing: 5px;
  text-shadow: 2px 2px 1px rgb(154, 46, 46);
  line-height: 1.6;
}

h2 + p {
  font-size: 120%;
}

p {
  line-height: 2;
  letter-spacing: 1px;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}
